/* .history div {
  border: 1px solid black;
} */

.history-header {
  text-align: center;
}
.historyBg {
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  padding: 20px;
}
.homeButton {
  text-align: center;
  padding-top: 5px;
}

.homeButton img {
  max-width: 100%;
  width: 35px;
  height: auto;
  text-align: center;
}
.grid-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
    'box1 box2 box3'
    'box4 box4 box4'
    'box5 box5 box5';
  grid-gap: 40px;
  overflow: scroll;
}
.box1 {
  grid-area: box1;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  padding: 10px;
  text-align: left;
  background: linear-gradient(
    278.29deg,
    #fbb2b4 30.05%,
    rgba(255, 143, 178, 0) 133.19%
  );
  box-shadow: drop-shadow(10px 15px 10px rgba(255, 143, 178, 0.25));
  border-radius: 10px;
  position: relative;
}
.box2 {
  grid-area: box2;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  padding: 10px;
  text-align: left;
  background: linear-gradient(
    278.29deg,
    #29dfff 30.05%,
    rgba(41, 223, 255, 0) 133.19%
  );
  box-shadow: drop-shadow(10px 15px 10px rgba(41, 223, 255, 0.25));
  border-radius: 10px;
  position: relative;
}
.box3 {
  grid-area: box3;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  padding: 10px;
  text-align: left;
  background: linear-gradient(
    278.29deg,
    #ab84c8 30.05%,
    rgba(241, 201, 236, 0) 133.19%
  );
  box-shadow: drop-shadow(10px 15px 10px rgba(241, 201, 236, 0.25));
  border-radius: 10px;
  position: relative;
}
.box4 {
  background-color: white;
  grid-area: box4;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% auto;
  grid-template-areas:
    'revenue month'
    'chart chart';
  grid-column: 1/4;
  padding: 20px;
  height: auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.box5 {
  background-color: white;
  grid-area: box5;
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% auto;
  grid-template-areas:
    'recent today'
    'tables tables';
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  height: 400px;
  border-radius: 10px;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}
.incomeorder {
  align-self: end;
}
.numberamount {
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  height: auto;
}
.percentage {
  align-self: start;
}
.chart {
  grid-area: chart;
  height: auto;
}
.revenue {
  grid-area: revenue;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}

.month {
  grid-area: month;
  text-align: end;
}
.recent {
  grid-area: recent;
  text-align: start;
  font-size: 20px;
  font-weight: bold;
}
.today {
  grid-area: today;
  text-align: end;
  font-size: 12px;
}
.tableOrder {
  overflow-x: scroll;
  overflow-y: scroll;
}
.tables {
  grid-area: tables;
  width: 100%;
  height: 100%;
}
.my-0 {
  justify-content: center;
}
@media screen and (max-width: 1210px) {
  .numberamount {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .numberamount {
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  .tables {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .numberamount {
    font-size: 20px;
  }
  .grid-container {
    grid-template-areas:
      'box1 box1 box1'
      'box2 box2 box2'
      'box3 box3 box3'
      'box4 box4 box4'
      'box5 box5 box5';
    overflow: scroll;
  }
  .homeButton {
    text-align: center;
    padding-top: 5px;
  }

  .homeButton img {
    max-width: 100%;
    width: 35px;
    height: auto;
    text-align: center;
  }
  .homeButton {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .chartjs-render-monitor {
    width: 500px !important;
  }
  .chart {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .tables {
    grid-area: tables;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
  }
  .tableOrder {
    width: 600px !important;
    height: 100%;
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .tables {
    grid-area: tables;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
  }
  .chartjs-render-monitor {
    height: auto !important;
    width: 500px !important;
  }
  .box4 {
    height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .chartjs-render-monitor {
    height: auto !important;
    width: 400px !important;
  }
  .recent {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .chartjs-render-monitor {
    height: auto !important;
    width: 300px !important;
  }
}
@media screen and (max-width: 300px) {
  .chartjs-render-monitor {
    height: auto !important;
    width: 200px !important;
  }
}
